<p id="notice"><%= notice %></p>

<h1>Listing Invupdates</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invupdates.each do |invupdate| %>
      <tr>
        <td><%= link_to 'Show', invupdate %></td>
        <td><%= link_to 'Edit', edit_invupdate_path(invupdate) %></td>
        <td><%= link_to 'Destroy', invupdate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invupdate', new_invupdate_path %>
